@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@layer base {
  html,
  body {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  body {
    margin: 0;
    background-color: #f7f3ea;
    color: #111111;
  }
}
